<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container" >

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_product_service_index') }}">Conceptos de facturación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_iva_application_index') }}">Condiciones IVA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_unit_measurement_index') }}">Unidades de medida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_category_index') }}">Categorias</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>


            {% block body %}{% endblock %}
        </div>
    </body>
</html>
