{{ form_start(form) }}
    {{ form_row(form.code, {'label': 'Código'}) }}
    {{ form_row(form.UnitOfMeasurement, {'label': 'Unidad de medida'}) }}
    <button class="btn btn-success btn-sm">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
