{% extends 'base.html.twig' %}

{% block title %}Unidades de medidas{% endblock %}

{% block body %}
    <h1>Unidades de medidas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Unidad de medida</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_measurement in unit_measurements %}
            <tr>
                <td>{{ unit_measurement.code }}</td>
                <td>{{ unit_measurement.UnitOfMeasurement }}</td>
                <td>
                    <a href="{{ path('app_unit_measurement_show', {'id': unit_measurement.id}) }}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{{ path('app_unit_measurement_edit', {'id': unit_measurement.id}) }}" class="btn btn-secondary btn-sm">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_unit_measurement_new') }}"  class="btn btn-primary btn-sm">Nuevo</a>
{% endblock %}
