{% extends 'base.html.twig' %}

{% block title %}UnitMeasurement{% endblock %}

{% block body %}
    <h1>UnitMeasurement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit_measurement.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ unit_measurement.code }}</td>
            </tr>
            <tr>
                <th>UnitOfMeasurement</th>
                <td>{{ unit_measurement.UnitOfMeasurement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_unit_measurement_index') }}">back to list</a>

    <a href="{{ path('app_unit_measurement_edit', {'id': unit_measurement.id}) }}">edit</a>

    {{ include('unit_measurement/_delete_form.html.twig') }}
{% endblock %}
