{{ form_start(form) }}
    {{ form_row(form.code, {'label': 'Código'}) }}
    {{ form_row(form.ivaApplication, {'label': 'Aplicación IVA'}) }}
    {{ form_row(form.aliquot, {'label': 'Alícouta'}) }}
    <button class="btn btn-success btn-sm">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
