{% extends 'base.html.twig' %}

{% block title %}IvaApplication{% endblock %}

{% block body %}
    <h1>IvaApplication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ iva_application.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ iva_application.code }}</td>
            </tr>
            <tr>
                <th>IvaApplication</th>
                <td>{{ iva_application.ivaApplication }}</td>
            </tr>
            <tr>
                <th>Aliquot</th>
                <td>{{ iva_application.aliquot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_iva_application_index') }}">back to list</a>

    <a href="{{ path('app_iva_application_edit', {'id': iva_application.id}) }}">edit</a>

    {{ include('iva_application/_delete_form.html.twig') }}
{% endblock %}
